#MainText {
    text-align: center;
    color: #282c34;
    font-family: "Allerta Stencil", Sans-serif;
    font-size: 40px;
    text-shadow: burlywood;
    margin-top: 50%;
}

#Icon1 {
    height: 10px;
}

#tabList {
    width: 90%;
    margin: 1rem auto;
    height: 25px;
}

#slTab {
    background: #d5f4e6;
    width: 50%;
    height: 200%;
}

#globalTab {
    background: #f4e1d2;
    width: 50%;
    height: 200%;
}

#SLIcon {
    text-align: center
}